body {
    background-image: url('https://jooinn.com/images/paper-background-20.jpg');
    background-size: 2000px;
}

h1 {
    border: 1px solid black;
    background-color: rgb(218, 218, 218);
    padding: 20px;
    text-align: center;
}

img {
    padding: 20px;
}

img:hover {
transform: scale(1.2);
}

img:active {
    transform: scale(0.5);
}